In [2]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from scipy import stats

In [3]:
#Setting options
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)
pd.set_option("display.max_colwidth",None)
pd.set_option("display.float_format","{:,.2f}".format)

In [4]:
#importing data set
df = pd.read_csv(r"E:\Pakistan Largest Ecommerce Dataset.csv", low_memory = False)
df.head(10)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,"211,131.00",complete,7/1/2016,kreations_YI 06-L,"1,950.00",1.00,"1,950.00",100147443,Women's Fashion,\N,0.00,cod,7/1/2016,#REF!,"1,950","2,016.00",7.00,2016-7,7-2016,FY17,1.00,NaN,NaN,NaN,NaN,NaN
1,"211,133.00",canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.00,1.00,240.00,100147444,Beauty & Grooming,\N,0.00,cod,7/1/2016,Gross,240,"2,016.00",7.00,2016-7,7-2016,FY17,2.00,NaN,NaN,NaN,NaN,NaN
2,"211,134.00",canceled,7/1/2016,Ego_UP0017-999-MR0,"2,450.00",1.00,"2,450.00",100147445,Women's Fashion,\N,0.00,cod,7/1/2016,Gross,"2,450","2,016.00",7.00,2016-7,7-2016,FY17,3.00,NaN,NaN,NaN,NaN,NaN
3,"211,135.00",complete,7/1/2016,kcc_krone deal,360.00,1.00,60.00,100147446,Beauty & Grooming,R-FSD-52352,300.00,cod,7/1/2016,Net,360,"2,016.00",7.00,2016-7,7-2016,FY17,4.00,NaN,NaN,NaN,NaN,NaN
4,"211,136.00",order_refunded,7/1/2016,BK7010400AG,555.00,2.00,"1,110.00",100147447,Soghaat,\N,0.00,cod,7/1/2016,Valid,"1,110","2,016.00",7.00,2016-7,7-2016,FY17,5.00,NaN,NaN,NaN,NaN,NaN
5,"211,137.00",canceled,7/1/2016,UK_Namkino All In One 200 Gms,80.00,1.00,80.00,100147448,Soghaat,\N,0.00,cod,7/1/2016,Gross,80,"2,016.00",7.00,2016-7,7-2016,FY17,6.00,NaN,NaN,NaN,NaN,NaN
6,"211,138.00",complete,7/1/2016,kcc_krone deal,360.00,1.00,60.00,100147449,Beauty & Grooming,\N,300.00,cod,7/1/2016,Net,360,"2,016.00",7.00,2016-7,7-2016,FY17,7.00,NaN,NaN,NaN,NaN,NaN
7,"211,139.00",complete,7/1/2016,UK_Namkino Mix Nimco 400 Gms,170.00,1.00,170.00,100147450,Soghaat,\N,0.00,cod,7/1/2016,Net,170,"2,016.00",7.00,2016-7,7-2016,FY17,6.00,NaN,NaN,NaN,NaN,NaN
8,"211,140.00",canceled,7/1/2016,Apple iPhone 6S 64GB,"96,499.00",1.00,"96,499.00",100147451,Mobiles & Tablets,\N,0.00,ublcreditcard,7/1/2016,Gross,"96,499","2,016.00",7.00,2016-7,7-2016,FY17,8.00,NaN,NaN,NaN,NaN,NaN
9,"211,141.00",canceled,7/1/2016,Apple iPhone 6S 64GB,"96,499.00",1.00,"96,499.00",100147452,Mobiles & Tablets,\N,0.00,mygateway,7/1/2016,Gross,"96,499","2,016.00",7.00,2016-7,7-2016,FY17,8.00,NaN,NaN,NaN,NaN,NaN

In [5]:
#Removing all missing rows and columns from the data
df.dropna(how = "all", inplace = True)
df.columns
df.drop(['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'], axis = 1, inplace = True)
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since',
       'M-Y', 'FY', 'Customer ID'],
      dtype='object')

In [6]:
#Renaming Columns that aren't named good
df = df.rename(columns={
"status":"order_status",
"sku":"product_id",
"qty_ordered":"quantity",
"grand_total":"total_price",
"category_name_1":"category",
"discount_amount":"discount",
"Working Date":"working_date",
"MV":"market_value",
"Customer ID":"customer_id",
"BI Status":"bi_status",
"MV":"market_value",
"Year":"year",
"Month":"month",
"Customer Since":"customer_since",
"M-Y":"month_year",
"FY":"financial_year"
})
df.columns

Index(['item_id', 'order_status', 'created_at', 'product_id', 'price',
       'quantity', 'total_price', 'increment_id', 'category',
       'sales_commission_code', 'discount', 'payment_method', 'working_date',
       'bi_status', ' MV ', 'year', 'month', 'customer_since', 'month_year',
       'financial_year', 'customer_id'],
      dtype='object')

In [7]:
#Removing Duplicates
df.duplicated().sum()

np.int64(0)

In [8]:
#Fixing Formats
df["created_at"]= pd.to_datetime(df["created_at"])
df["customer_since"]= pd.to_datetime(df["customer_since"])
df["month_year"]= pd.to_datetime(df["month_year"])

In [9]:
#Changing names of unique values if they are not understandable or good
df["category"].value_counts()
df["category"] = df["category"].replace(r"\N", "Others")

In [10]:
#filling Missing values
df.isna().sum()
df['order_status']= df['order_status'].fillna(df["order_status"].mode()[0])
df['product_id']= df['product_id'].fillna(df["product_id"].mode()[0])
df['category']= df['category'].fillna(df["category"].mode()[0])
df['customer_since']= df['customer_since'].fillna(df["customer_since"].mode()[0])
df['customer_id']= df['customer_id'].fillna(df["customer_id"].mode()[0])
df['sales_commission_code'] = df['sales_commission_code'].fillna(df["sales_commission_code"].mode()[0])
df.isna().sum()

item_id                  0
order_status             0
created_at               0
product_id               0
price                    0
quantity                 0
total_price              0
increment_id             0
category                 0
sales_commission_code    0
discount                 0
payment_method           0
working_date             0
bi_status                0
 MV                      0
year                     0
month                    0
customer_since           0
month_year               0
financial_year           0
customer_id              0
dtype: int64

In [11]:
#handling same variables of the data set
df["order_status"].value_counts()
df["order_status"] = df["order_status"].replace("received", "complete")
df["order_status"] = df["order_status"].replace("paid", "complete")
df["order_status"] = df["order_status"].replace("closed", "canceled")
df["order_status"] = df["order_status"].replace("fraud", "canceled")
df["order_status"] = df["order_status"].replace("order_refunded", "refund")
df["order_status"] = df["order_status"].replace("exchange", "refund")
df["order_status"] = df["order_status"].replace("processing", "pending")
df["order_status"] = df["order_status"].replace("pending_paypal", "pending")
df["order_status"] = df["order_status"].replace("cod", "pending")
df["order_status"] = df["order_status"].replace(r"\N", "pending")   #Using Raw cause it gives error other wise
df["order_status"] = df["order_status"].replace("payment_review", "pending")
df["order_status"] = df["order_status"].replace("holded", "pending")

In [12]:
#plotting outliers
palette = {
	"Others": "red",
	"Computing": "cyan",
	"Entertainment": "gray",
	"Appliances": "black",
	"Mobiles & Tablets": "green",
	"Men's Fashion": "orange",
	"Women's Fashion": "pink",
	"Superstore": "blue",
	"Beauty & Grooming": "purple",
	"Health & Sports": "navy",
	"Home & Living": "brown",
	"Soghaat": "lime",
	"Kids & Baby": "teal",
	"School & Education": "brown",
	"Books": "yellow"
}
palette

{'Others': 'red',
 'Computing': 'cyan',
 'Entertainment': 'gray',
 'Appliances': 'black',
 'Mobiles & Tablets': 'green',
 "Men's Fashion": 'orange',
 "Women's Fashion": 'pink',
 'Superstore': 'blue',
 'Beauty & Grooming': 'purple',
 'Health & Sports': 'navy',
 'Home & Living': 'brown',
 'Soghaat': 'lime',
 'Kids & Baby': 'teal',
 'School & Education': 'brown',
 'Books': 'yellow'}

In [ ]:
df.to_csv(r"E:\Portfolio\Project\1_Cleaning And Transformation\Pak Ecommerce Cleaned Dataset.csv", index = False)

In [ ]:
for i in range(100):
    print(i)
    i